.highlight-canvas {
  background-color: transparent;
  position: absolute;
  top: 649px;
  left: 49px;
  border: none;
  cursor: url(bomb-thin.svg) 20 50, default;
  pointer-events: none;
}

.highlight-canvas:hover {
  cursor: url(bomb-thin.svg) 20 50, default;
}
