.ships-canvas {
  background-color: transparent;
  position: absolute;
  left: 49px;
  top: 49px;
  border: none;
}

.availableSizes span:not(:last-child) {
  border-right: 1px solid #000;
}

.startGameBtn {
  position: absolute;
  right: 0;
  top: -95px;
  border: 1px solid #d7d7d7;
}

.startGameBtn:disabled,
.startGameBtn:disabled:hover {
  border: none;
  cursor: default;
}

.resetButton {
  top: -27px;
  right: 0;
  padding: 0em 1em;
  border-radius: initial;
  background: #d6e7e7;
  position: absolute;

  border: 1px solid #d7d7d7;
}

.instructions {
  position: absolute;
  bottom: -50px;
}

@media all and (max-width: 600px) {
  .resetButton {
    top: initial;
    right: 0;
    bottom: -27px;
  }

  .instructions {
    position: absolute;
    bottom: -76px;
  }
}
