.opponent-canvas {
  position: absolute;
  /* left: 0;
  left: 49px; */
  cursor:
    url("../../../assets/bomb-thin.svg") 0 60,
    default;

  /* top: 49px; */
}

.remainingOpponentShips {
  position: absolute;
  top: -26px;
  right: 159px;
  display: flex;
  flex-direction: row-reverse;
  width: 300px;
  gap: 0.5rem;
}
