.gridCanvas {
  position: absolute;
  left: 0;
}

.gridCanvasOpponent {
  /* top: 600px; */
}

@media all and (max-width: 600px) {
  .gridCanvas {
    left: 50%;
    transform: translateX(-50%);
  }
}
