.opponent-strikes-canvas,
.player-strikes-canvas {
  position: absolute;
  left: 0;
  top: 649px;
  left: 49px;
  /* cursor: url(bomb-thin.svg) 20 50, default; */
  cursor:
    url(bomb-thin.svg) 0 60,
    default;
  pointer-events: none;
  top: 49px;
}

.player-strikes-canvas {
  background-color: transparent;
  position: absolute;
  left: 49px;
  top: 49px;
  border: none;
}
